html, body, #root {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

HorizontalScroller {
    background-color: #ccc;
}

.card {
    margin: 10px 2px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 8px;
}

.bg-light {
    background: grey;
}

.center-text {
    text-align: center;
}

.title {
    margin: 0 0 0 5px;
    font-size: 15px;
    font-weight: bold;
}

.releaseDate {
    font-size: 10px;
}

.poster {
    width: 166px;
    height: 250px;
    border-radius: 3px;
    margin: 0 auto;
    display: block;
}

.centered-label {
    display: flex;
    align-items: center;
}

.starIcon {
    margin: 0 5px 0 0;
}

.rating {
    color: #a9a4a4;
}

.menu-item {
    padding: 0 40px;
    margin: 5px 10px;
    user-select: none;
    cursor: pointer;
    border: none;
}
.menu-item-wrapper.active {
    border: 1px blue solid;
}
.menu-item.active {
    border: 1px green solid;
}

.scroll-menu-arrow {
    padding: 20px;
    cursor: pointer;
}